.navbar {
  width: 50%;
  height: 90px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  margin: 2.5rem auto;
  transform: rotate(-5deg);
}

.title {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px white;
  word-spacing: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
  transform: skew(-20deg);
}

span {
  color: darkgrey;
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 80%;
  }
  .title {
    transform: translateX(4rem);
  }
}
