* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amita", cursive;
  margin: 2rem 2rem;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 1rem 0.2rem;
  }
}
